.dropdown{
    padding: 34px 48px 30px 48px;
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 17px;
}

.dropdown__toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown__toggle__title{
    position: relative;
    z-index: 0;
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */
    letter-spacing: -0.02em;
    color: #000000;

}

.dropdown__toggle__title__decoration{
    position: absolute;
    top: -10px;
    left: -13px;
    z-index: -1;
}

.dropdown__toggle__caret{
    width: 5px;
    height: 5px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transform: rotate(45deg);
}

.dropdown__content{
    margin-top: 24px;
    border-top: 3px solid #EDEFF1;
    display: flex;   
    flex-direction: column;
}

.dropdown__content__item__description{
    padding-top: 24px;
    font-family: "Gordita";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    letter-spacing: -0.01em;
    color: #474950;
}

.dropdown__content__item{
    padding-top: 42px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E7EBEF;
}

.dropdown__content__item__www{
    display: flex;
}

.dropdown__content__item:nth-last-child(1){
    border-bottom: none;
}

.dropdown__content__item__whatSection{
   flex: 2;
   padding-right: 52px;
}

.dropdown__content__item__whenSection{
    flex: 2;
    padding-right: 52px;
}

.dropdown__content__item__label{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 20px;
    /* identical to box height, or 222% */
    letter-spacing: 0.15em;
    color: #313542;

    margin-bottom: 12px;
}

.dropdown__content__item__text{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    letter-spacing: -0.02em;
    color: #000000;

}

.dropdown__content__item__whySection{
    flex: 6;
    font-family: "Gordita";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    letter-spacing: -0.01em;
    color: #474950;
}