.peopleGraphs{
    width: 100%;
    height: 100%;
}

.peopleGraphs__group{
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    margin-bottom: 56px;
}

.peopleGraphs__group__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.peopleGraphs__group__item:last-child{
    margin-bottom: 0px;
}