.entrence{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #12182B;
}

.entrence header{
    display: flex;
    justify-content: center ;
}

.content{
    position: relative;
    height: calc(100vh - 135px);
    background-color: #12182B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*ovo se radi tako da bi bilo na centar screena jer je header 135px*/
    margin-top: -135px;
}

.content__center__metrics{
    position: absolute;
    left: 98px;
    bottom: 24px;
    margin-top: 76px;
}

.content__center__maturityIndex{
    position: absolute;
    -webkit-transform: translate(-60%,-65%);
    transform: translate(-60%,-65%);
    position: absolute;
    top: 50%;
    left: 50%;
    /*top: calc(50% - 106px);
    left: 42px;
    */width: 70vw;

    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */
    letter-spacing: -0.02em;
    color: #FFFFFF;

    padding-left: 56px;
    padding-bottom: 32px;
    border-bottom: 2px solid #242C46;
}

.content__center__animation__appear{
    transform: scale(0.1);
}

.content__center__animation__appear__ACTIVE{
    transform: scale(1);
    transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1);
}

.content__center__animation__exit__ACTIVE{
    animation: slide-out-fwd-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-fwd-center {
0% {
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
}
100% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
}
}

/*
.content__center__animation-exit{
    opacity: 1;
}

.content__center__animation-exit-active{
    opacity: 0;
    transition: opacity transform 2s cubic-bezier(0.5, 1, 0.89, 1);
}

.content__center__animation-exit-done{

}
*/

.content__center__hello{
    font-family: "Gordita";
    font-style: normal;
    font-weight: normal;
    font-size: 71px;
    line-height: 92px;
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 8px;
}

.content__center__welcome{
    font-family: "Gordita";
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}

.yimindex{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: -0.02em;

    color: #7F8AAF;
}