.percentageGraphs{
    display: flex;
    flex-wrap: wrap;
}

.percentageGraphs__item{
    width: calc(100% / 2 - 1 / 2 * 130px);
    margin-right: 130px;
    margin-bottom: 142px;
    box-sizing: border-box;
}

.percentageGraphs__item:nth-child(2n){
    margin-right: 0px;
}

.percentageGraphs__item:last-child{
    margin-bottom: 160px;
}

.pg{
    position: relative;
    width: 100%;
    height: 300px;
    margin: 45px 0px;
}

.pg__graph__ORANGE{
    position: absolute;
    top: calc(45 / 300 * 100%);
    left: calc(212 / 570 * 100%);
    width: 164px;
}

.pg__graph__PURPLE{
    position: absolute;
    top: calc(152 / 300 * 100%);
    left: calc(122 / 570 * 100%);
    width: 110px;
}

.pg__graph__pieChart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comparisonGraphs{
    display: flex;
    flex-wrap: wrap;
}

.comparisonGraphs__item{
    width: calc(100% - 378px - 64px);
    margin-right: 64px;
    margin-bottom: 88px;
}

.comparisonGraphs__item__scoreCards{
    display: flex;
    flex-direction: column;
}

.comparisonGraphs__item__scoreCards__card{
    margin-bottom: 40px;
}

.comparisonGraph{
    width: 100%;
    margin-top: 86px;
    margin-bottom: 50px;
}