.graphs{
    margin-top: 42px;
    margin-bottom: 46px;
    position: relative;
    width: 100%;
    height: 214px;
}

.graphs__item{
    width: 126px;
    height: 126px;
}

.graphs__item__LIGHTBLUE{
    position: absolute;
    top: calc(128 / 302 * 100%);
    left: calc(140 / 570 * 100%);
    width: 124px;
}

.graphs__item__PURPLE{
    position: absolute;
    top: calc(44 / 302 * 100%);
    left: calc(186 / 570 * 100%);
    width: 102px;
}

.graphs__item__ORANGE{
    position: absolute;
    top: calc(56 / 302 * 100%);
    left: calc(270 / 570 * 100%);
    width: 156px;
}