.marketing{
    display: flex;
    flex-direction: column;
}

.marketing__title{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
    /* identical to box height, or 156% */
    letter-spacing: -0.03em;
    color: #000000;

    margin-bottom: 68px;
}

.marketing__content{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.marketing__content__item{
    box-sizing: border-box;
    width: calc(100% / 2 - 1 / 2 * 124px);
    margin-right: 124px;
    margin-bottom: 180px;
}

.marketing__content__chart{
    margin-top: 90px;
    margin-bottom: 48px;
}

.marketing__content__graph{
    width: 100%;
    margin-top: 86px;
    margin-bottom: 56px;
}

.marketing__content__item:nth-child(2n){
    margin-right: 0px;
}

.marketing__content__item:nth-last-child(-n + 2){
    margin-bottom: 88px;
}