.scoreCard{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(66, 73, 100, 0.06);
    border-radius: 36px;
}

.scoreCard header{
    display: flex;
    justify-content: space-between;
    margin: 38px 48px 32px 48px;
}

.scoreCard__title{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    /* identical to box height, or 86% */
    letter-spacing: -0.03em;
    color: #141721;
}

.scoreCard__points{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    letter-spacing: -0.02em;
    color: #7E849D;
}

.scoreCard__questions{
    margin: 48px;
    display: flex;
    flex-direction: column;
}

.scoreCard__questions__singleQuestion{
    display: flex;

    margin-bottom: 40px;
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    letter-spacing: -0.02em;
    color: #000000;
}

.scoreCard__questions__singleQuestion:last-child{
    margin-bottom: 0px;
}

.scoreCard__questions__expandButton{
    display: flex;
    justify-content: center;
}

.sign{
    margin-right: 8px;
}