.hrCard{
    width: 100%;
    padding: 64px 30px;
    padding-right: 0px;
    display: flex;
    border-radius: 16px;
    align-items: center;
}

.hrCard__content{
    display: flex;
    align-items: flex-start;
}

.hrCard__content__barChart{
    padding: 24px;
    border-radius: 16px;

    margin-right: 28px;
}

.hrCard__content__info{
    color: white;
}

.hrCard__content__info__description{
    font-family: "Gordita";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.02em;

    margin-bottom: 12px;
}

.hrCard__content__info__number{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 47px;
    letter-spacing: -0.02em;
}

.hrCard__content__info__footnote{
    font-family: "Gordita";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
    margin-top: 12px;
}