.frame{
    display: flex;
    flex-direction: column;
}

.frame__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame__header__info{
    display: flex;
    flex-direction: column;
}

.frame__header__info__title{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000000;

    margin-bottom: 6px;
}

.frame__header__info__description{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: -0.01em;
    color: #888EA1;
}

.frame__content{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #EFEFF1;
    margin-bottom: 40px;
}

.frame__footerCalc{
    display: flex;
    flex-direction: column;   
}

.frame__footerCalc__title{
    display: flex;

    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    letter-spacing: -0.01em;
    color: #466BEE;

    margin-bottom: 24px;
}

.frame__footerCalc__title__dash{
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.frame__footerCalc__content{
    font-family: "Gordita";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */
    letter-spacing: -0.01em;
    color: #474950;
    max-width:572px;
}

.frame__footerColors{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.frame__footerColors__item{
    display: flex;
    align-items: center;
    margin-right: 112px;
}

.frame__footerColors__item__circle{
    width: 8px;
    height: 8px;
    border-radius: 30px;
    margin-right: 12px;
}

.frame__footerColors__item__label{
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */
    letter-spacing: -0.01em;
    color: #363941
}