@font-face{
  font-family: 'Gordita';
  src: local('Gordita'), url('./assets//fonts/Gordita-Regular.woff2');
}

@font-face{
  font-family: 'Gordita Medium';
  src: local('Gordita Medium'), url('./assets//fonts/Gordita-Medium.woff');
}

body {
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}